<div class="container">

    <footer id="footer">

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <p>Copyright 2022 Creadores Cubanos de Videojuegos</p>
                <p>
                    Síguenos en: 
                    <ul>
                        <%- site.social_accounts.map(info => `<li><a href='${info.url}'>${info.name}</a></li>`).join("\n") %>
                    </ul>
                </p>
                <p>
                    Escríbenos a <code><%= site.contact_email %></code>.
                </p>
                <p>Contribuye a esta plataforma en <a href="https://github.com/GameDev-Cuba/creadores-cubanos-videojuegos-website/">nuestra cuenta de GitHub</a>.</p>
            </div>
        </div>
    </footer>

</div>

</body>
</html>