<div class="container">

    <footer id="footer">

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <p>Copyright 2021 Creadores Cubanos de Videojuegos</p>
                <p>Síguenos en <a href="#">Telegram</a>, <a href="#">Twitter</a>, <a href="#">Facebook</a><div class=""></div></p>
                <p>Contribuye a esta plataforma en <a href="#">nuestra cuenta de GitHub</a>.</p>
            </div>
        </div>
    </footer>

</div>
</body>
</html>