<div class="container-fluid p-5 mb-5 text-light main-header-img">

    <div class="mb-4">
        <div class="container">
            <h1 class="display-5 fw-bold text-light text-center">
                <%= page.metadata.title %>
            </h1>
            <p class="fs-5 text-white text-center">
                <%= page.metadata.description %>
            </p>
        </div>
    </div>
</div>

<div class="container mt-2 page-content">

    <%- page.content %>
    
</div>