<%- include("_header") %>

    <div class="main-header p-5 mb-4">
        <div class="container py-5">
            <h1 class="display-5 fw-bold text-light">
                <%= page.metadata.title %>
            </h1>
            <p class="col-md-8 fs-4 text-light">
                <%= page.metadata.description %>
            </p>
            <a href="/estudios" class="btn btn-primary btn-lg" type="button">Estudios de Videojuegos</a>
        </div>
    </div>


    <div class="container">

        <h1>TODO MISSING BODY</h1>
        
    </div>

    <%- include("_footer") %>