<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creadores cubanos de videojuegos</title>
</head>
<body>
    <p>
        Hola mundo!
    </p>

    <% foreach(const child of page.children) { %>

        <p><%= child.metadata.title %></p>

    <% } %>
</body>
</html>